.sidebar {
    width: 120px;
    background-color: #0a2a66;
    color: white;
}

.sidebar-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto -10px;

    background-image: url("../img/icon_toga.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    border-radius: 10px;
}

.sidebar-menu {
    list-style: none;
    padding: 15px;
}

.sidebar-menu .nav-item {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.sidebar-menu .nav-item:hover {
    background-color: #102f7a;

}

.sidebar-menu .nav-item.active {
    background-color: #123b8a; 
}

.sidebar-menu .icon {
    width: 100px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.sidebar-menu span {
    font-size: 15px;
    margin-top: -20px;
    display: block;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: -4px;
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}

.logout:hover {
    color: white;
}

.logout-icon {
    color: white;
}

.topbar {
    background-color: white;
    padding: 20px 25px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.avatar {
    width: 70px;
    height: 70px;
    background-color: #ddd;
    border-radius: 50%;
}

.notif {
    width: 22px;
    height: 22px;
    background-color: #0a2a66;
    border-radius: 50%;
}

.icon.nilai {
    background-image: url("../img/nilai_icon.png");
    background-size: 60%;
}

.icon.dkbs {
    background-image: url("../img/dkbs_icon.png");
    background-size: 70%;
}

.icon.jadwal {
    background-image: url("../img/jadwal_icon.png");
    background-size: 50%;
}

.logout-icon {
    width: 30px;
    height: 30px;
    background: url("../img/logout_icon.png") no-repeat center;
    background-size: contain;
    flex-shrink: 0;
}

.sidebar-divider {
    border: none;
    height: 3px;
    background: #fff;
    margin: 10px 20px;  
}