.left-panel {
    background-color: #0a2a66;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-maranatha {
    width: 320px;
    max-width: 70%;
    height: auto;
}
