.container {
    flex: 1;
    padding: 40px 100px;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.profile-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar-big {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}

.avatar-big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr{
    border: 3px solid black;
}

.edit-link {
    color: #0d6efd;          
    text-decoration: underline;
    font-weight: 500;
}

.edit-link:hover {
    color: #0a58ca;
    text-decoration: underline;
}

