body {
    margin: 0;
    background-color: #f4f6f9;
} 

.btn-primary {
    background-color: #0a2a66;
    border: none;
}

.btn-primary:hover {
    background-color: #08224f;
}

h2 {
    color: #0a2a66;
}
