body {
    background-color: #0a2a66;
    min-height: 100vh;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

.hero {
    margin-top: -50px;
}

h1 {
    margin-bottom: 8px;
}

h5 {
    margin-bottom: 24px;
}

.logo1 {
    height: auto;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    
    object-fit: contain;
}
.description {
    margin-bottom: 30px;
    padding: 0 30px;
}

.divider {
    margin: 25px 0;
    font-weight: 600;
    letter-spacing: 2px;
}

.card-login {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px 30px;
    color: #0a2a66;
    max-width: 650px;
}

.role-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px;
    overflow: hidden;
}

.role-icon img {
    width: 145%;
    height: 145%;
    object-fit: cover;
}

.role-icon.dosen img {
    object-position: center;
    transform: translateY(7px);
}

.role-icon.mahasiswa img {
    width: 180%;
    height: 180%;
    object-position: center;
    transform: translateY(14px);
}

.role-icon.admin img {
    object-position: center;
}

.role-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: #0a2a66;
}

.role-btn:hover {
    text-decoration: underline;
}

.register-link {
    margin-top: 25px;
}

.register-link a {
    color: #ffffff;
    text-decoration: underline;
}

.daftar {
  display: flex;
  align-items: center;
  color: white;
  background: #0b2a63;
  padding: 12px 20px;
  margin-top: 10px;
}

.daftar span {
  font-weight: bold;
  margin:0px 15px;
  white-space: nowrap;
}

.daftar .garis {
  flex: 1;
  height: 1px;
  background: white;
  opacity: 0.7;
}

.daftar span a {
  color: #00aaff; 
  text-decoration: none;
  transition: 0.3s;
}

.daftar span a:hover {
  color: white;
  text-decoration: underline; 
}

.role-link {
    display: block;
    text-decoration: none;
}