/* Layout */
.layout {
    display: flex;
}

.main-content {
    margin-left: 120px;
    width: calc(100% - 120px);
    background: #f4f6f9;
    min-height: 100vh;
}

.header {
    background-color: #0a2a66;
    padding: 20px;
    color: white;
}

.header h2 {
    font-weight: bold;
    text-align: left;
}

.header select {
    background-color: white;
    font-size: 15px;
    padding: 5px;
    width: 150px;
}

.container {
    margin-top: 20px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.uts-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.uts-card .card-header {
    font-size: 1.2rem;
    background-color: #e6f0ff;
    padding: 10px;
    font-weight: bold;
}

.uts-detail {
    font-size: 14px;
    color: #555;
}

.uts-detail div {
    margin-top: 5px;
}

.uts-item hr {
    margin-top: 15px;
}

h3{
    font-weight: bold;
    margin-left: 400px;
}